nav {
    display: flex;
    justify-content: center;
    border-top: 2px solid #dccb94;
    border-bottom: 2px solid #dccb94;
    padding: 2rem;
}

.nav-icon-box {
    display: flex;
    align-items: center;
}

.dln-logo {
    height: 6rem;
}
