.article-card {
    background-color: #dccb94;
    color: #77600f;
    width: 40%;
    text-decoration: wavy;
    padding: 1rem;
}

.article-title-box {
 border-bottom: 1px solid #77600f;
 padding: 1rem;
}

.art-details {
display: flex;
flex-direction: column;
}

.art-img {
    border: 3px solid #77600f;
}
