.article-card {
    background-color: #dccb94;
    /* box-shadow: 2px 4px 4px #e3c45f; */
    /* border-radius: 2rem; */
    /* box-sizing: border-box; */
    color: #77600f;
    width: 65%;
    text-decoration: wavy;
    padding: 1rem;
    /* font-size: 0.9rem; */
}

.article-title-box {
 width: 90%;
 border: 1px solid #77600f;
 border-left: none;
 border-right: none;
 padding: 1rem;
}

.art-details {
padding: 1rem;
}

.art-img {
    border: 3px solid #77600f;
}

/* #dccb94
#b89d40 */